// Colors
// $color-primary: #006494;
// $color-secondary: #0582ca;
// $color-tertiary: #00a6fb;
// $color-quaternary: #003554;

$color-primary: #f77f00;
$color-secondary: #d62828;
$color-tertiary: #fcbf49;
$color-quaternary: #003554;

$color-grey-light: #eae2b7;
$color-grey-dark: #003049;

$color-hover: #fefae0;
$color-link-hover: #fefae0;

$color-paragraph: #4a4a4a;

$color-green: #28a745;
$color-red: red;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;
