// Colors
$color-primary: #006494;
$color-secondary: #0582ca;
$color-tertiary: #00a6fb;
$color-quaternary: #003554;

$color-grey-light: #efefef;
$color-grey-dark: #051923;

$color-hover: #edf5f8;
$color-link-hover: #91e5f6;

$color-paragraph: #4a4a4a;

$color-green: #28a745;
$color-red: red;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;
